body{
    background-color: #fef01b;
    font-family: 'Noto Sans KR', sans-serif;
}

.main{
    display: none;
}

.status-bar {
    background-color: white;
    display: flex;  justify-content: space-between; margin-bottom: 25px;
    border: 2px solid white;
    font-size: 14px;

    position: fixed;
    top:0;
    right:0;
    left:0;
}

.menu-top {
    background-color: white;
    display: flex;  justify-content: space-between; 
    margin-bottom: 20px;
    margin-top: 50px;
}

.menu-top__text {
    font-size: 20px;
    font-weight: bold;
}

.menu-top__icon {
    font-size: 20px;
}

.menu-top__icon1, .menu-top__icon2, .menu-top__icon3 {
    margin-right: 15px;
}

.profile {
    display: flex;  justify-content: start; margin-bottom: 12px;
}

.multi-pr, .birth, .reco, .ch {
    display: flex;  justify-content: start; margin-bottom: 12px;
}

.fr-list__content1, .fr-list__content2 {
    display: flex;
}
.reco, .ch{
    display:none;
    /* 추천친구의 화살표의 기본모양을 아래방향으로 바꾸는 방법?,
    원래 닫혀있는 탭을 열고 닫을때 display를 제대로 설정하는 법? 
    display: none을 하면 슬라이드가 안먹힘?
    if문의 조건을 ==false 로 바꿔서 하는게 나은가?
    (카톡은 설정해놓고 나가면 앱종료해도 고정되는데 그건 어떻게 하나?) */
}

.profile__text {
    /* border-top: 20px solid red; */
   margin-top: 15px;
   margin-left: 10px;
}

.before {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 800px;
    font-family: Helvetica;
    margin:0;
    top:50%;
    left:50%;
}
.before__text {
    font-size: 30px;
}

.title1-list, .title2-list, .title3-list, .title4-list, .title5-list {
    font-size: 14px;
    color: gray;
    margin-top: 15px;
}

/* 이부분이 지금 문제! */
.title1-list, .title2-list, .title3-list, .title4-list, .title5-list {
    background-color: white;
    display: flex;  justify-content: space-between;
}
.multi-pr__text, .birth__text, .reco__text, .ch__text {
    color: black;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 7px;
}

/* 상메가 있을때 */
.fr-list__name1 {
    margin-top: 8px;
    margin-left: 7px;
    font-size: 16px;
}

.fr-list__msg1 {
    margin-top: 27px;
    margin-left: -29px;
    font-size: 13px;
    color: gray;
}

/* 상메가 없을떄 */
.fr-list__name2 {
    margin-top: 16px;
    margin-left: 7px;
    font-size: 16px;
}

.bottom__icon {
	justify-content: space-around;
}

.profile__img img {
    width: 50px;
    height: 50px;
    object-fit: cover; /* 이미지 배율 */
    border-radius: 40%; /* 이미지 둥글게 */
    
}

.multi-pr__img-fr img, .birth__img-fr img, .reco__img-fr img, .ch__img-fr img, .fr-list__img-fr img {
    width: 40px;
    height: 40px;
    object-fit: cover; /* 이미지 배율 */
    border-radius: 40%; /* 이미지 둥글게 */
    margin: 5px;
    margin-top: 8px;
}

.profile_img {
    margin: 5px;
}
.line {
    color: red;
}
@media (max-width:500px){
    body{background-color: white;}
    .before{display: none;}
    .main{display: unset;} 
}